@import 'globals';

.cart {
    position: fixed;
    top: 10%;
    left: 2.5%;
    width: 95vw;
    z-index: 50;
    background: $white;
    border-radius: 0.5rem;

    @include respond-desktop {
        width: 20vw;
        left: 70%;
    }

    .header {
        padding: 1.5rem 1rem;
        display: flex;
        justify-content: space-between;

        @include respond-desktop {
            padding: 1rem;
        }

        p {
            font-weight: 700;
        }

        img {
            width: 5%;
            align-self: center;
        }
    }

    .cart-body {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .thumbnail {
            width: 15%;

            img {
                width: 100%;
                border-radius: 0.4rem;

                @include respond-desktop {
                    width: 80%;
                }
            }
        }

        .info-price {
            transform: translateX(-1rem);
            align-self: center;

            p {
                color: $grey;

                @include respond-desktop {
                    font-size: 0.9rem;
                }
            }

            span {
                font-weight: 700;
                color: $dark-blue;
            }
        }

        .delete {
            width: 6%;

            img {
                width: 100%;
            }
        }
    }

    .checkout {
        padding: 0 1rem 2rem 1rem;

        button {
            background: $orange;
            color: $near-white;
            font-size: 1.2rem;
            border: none;
            width: 100%;
            padding: 1rem 0;
            border-radius: 0.4rem;
            text-align: center;

            @include respond-desktop {
                font-size: 1.1rem;
                padding: 0.8rem 0;
            }
        }
    }

    .empty {
        padding: 5.27rem 1rem;

        @include respond-desktop {
            padding: 4rem 1rem;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
            color: $dark-blue;
        }
    }
}