@import 'globals';

.carousel {
    .image {
        width: 100%;
        position: relative;
        overflow: hidden;

        .carousel-images {
            width: 400vw;
            position: relative;
            transition: transform 1s ease-in-out 10ms;

            @include respond-desktop {
                width: 100%;
            }

            &.first {
                transform: translateX(-100vw);
                transition: all 1s ease-in-out 10ms;
            }

            &.second {
                transform: translateX(-200vw);
                transition: all 1s ease-in-out 10ms;
            }

            &.third {
                transform: translateX(-300vw);
                transition: all 1s ease-in-out 10ms;
            }

            img {
                width: 100vw;

                @include respond-desktop {
                    width: 18%;
                    border-radius: 0.5rem;
                    cursor: pointer;

                    &:hover {
                        filter: opacity(0.8);
                    }
                }
            }

            .large-image {
                display: none;

                @include respond-desktop {
                    display: block;
                    width: 75%;
                    height: 80vh;
                    margin: 0 auto;
                }

                img {
                    @include respond-desktop {
                        width: 80%;
                        border-radius: 1rem;

                        &:hover {
                            filter: none;
                        }
                    }
                }
            }

            .thumbnails {
                @include respond-desktop {
                    display: flex;
                    justify-content: space-between;
                    width: 60%;
                    margin: 0 auto;
                    transform: translate(-3.2rem, -7rem);
                }
            }
        }


        .next-arrow,
        .previous-arrow {
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 10;
            top: 40%;
            right: 5%;
            background: #fff;
            border-radius: 50%;
            display: flex;

            @include respond-desktop {
                display: none;
            }

            img {
                width: auto;
                height: auto;
                margin: auto;
                align-items: center;
            }
        }

        .previous-arrow {
            left: 5%
        }
    }
}