@import 'globals';

.side-bar {
    position: absolute;
    z-index: 100;
    background: $white;
    min-height: 100vh;
    min-width: 75vw;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out 30ms;

    &.active {
        transform: translateX(0);
    }

    .side-bar-container {
        padding: 1.5rem 0 0 2.5rem;

        .close-icon {
            margin-bottom: 3rem;
        }

        .list {
            ul {
                list-style: none;
            }

            li {
                padding: 0.65rem 0;
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
    }
}